{% set form =  githubUser.form %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 notif"></div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">{{ flashMessage }}</div>
    {% endfor %}
</div>
<form class="form-horizontal" id="form-contact"
      action="{{ path(app.request.attributes.get('_route'),{'q': 'rob'}) }}"
      method="post">
    {{ form_start(form) }}
    {{ form_errors(form) }}
        <fieldset>
            {{ form_widget(form.githubUser.id,{ 'attr': {'value': githubUser.id } }) }}
        </fieldset>
    <div class="col-md-2 col-xs-12">
        <fieldset>
            {{ form_errors(form.body) }}
            {{ form_widget(form.body) }}
        </fieldset>
    </div>
    <div class="col-md-2 col-xs-12">
        {{ form_widget(form.save) }}
    </div>

    {% if githubUser.comments is not empty %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Commentaires</h3>
        <ul>
            {% for comment in githubUser.comments %}
                <i>{{ comment.date|date("m/d/Y") }}</i><br/>
                <p>{{ comment.body }}</p>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {{ form_end(form) }}
</form>

